{% extends "base.html" %}
{% block pagetitle %}
<h2>Book List</h2>
{% endblock %}
{% block content %}
    <div>
        <a href="{% url 'book_create_view' %}" class="btn btn-success">create new books</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Abstract</th>
                    <th>Author</th>
                    <th>Download</th>
                    <th>View Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ paper.title }}</td>
                    <td>{{ paper.min_abstract }}</td>
                    <td>{{ paper.author_count }}</td>
                    <td>{{ paper.file_name }}</td>
                    <td><a class="btn btn-primary" href="{% url 'book_detail_view' paperid=paper.id %}">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
